%h1 Visitas a mascotas adoptadas

- if current_user.permissions == 2
  %hr
  = link_to 'Ingresar Revision', new_state_path, class: "btn btn-raised btn-lg"

%hr

%table.table.table-bordered.table-hover
  %thead.thead-dark
    %tr
      %th Mascota
      %th Codigo
      %th Estado
      %th
      %th
      %th

  %tbody
    - @states.each do |state|
      %tr
        %td= state.pet.name
        %td= state.codigo
        %td= state.estado
        %td= link_to 'Show', state, class: "btn btn-raised btn-primary"
        %td= link_to 'Edit', edit_state_path(state), class: "btn btn-raised btn-info"
        %td= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-raised btn-warning"

%br


